<p>
  <strong>Title:</strong>
  <%= @cp.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @cp.description %>
</p>

<%= link_to 'Return to Cultural Properties List', cultural_properties_path %>
