<h1>Images List</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= image.title %></td>
      <td><%= image.description %></td>
    </tr>
  <% end %>
</table>
