<%= image_tag @image.picture.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= link_to 'Return to Images List', images_path %>
